@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

.name-logo{
   font-size: large;
}
.skillFont{
  font-family: "Roboto", sans-serif
}
.nameFont{
    font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.subTitle{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.firstPar{
    font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.paras{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: large;
    line-height: 2.5rem;
    font-style: normal;
}