@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');



.titleFonts{
  font-weight: 600;
  opacity: 95%;
  font-family: "Afacad Flux", sans-serif;
}

.subTitleFonts{
  font-weight: 600;
  font-family: "Afacad Flux", sans-serif;
}

.paragraphs{
  font-family: "Afacad Flux", sans-serif;
  opacity: 90%;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: large;
  /* line-height: 2.5rem; */
  font-style: normal;
}

.name-logo{
   font-size: large;
}

.nameFont{
    font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.subTitle{
  font-family: sans-serif;
  font-weight: 600;
  font-style: normal;
}

.firstPar{
  opacity: 95%;
    font-family: sans-serif;
  font-weight: 900;
  font-style: normal;
  color: rgb(41, 41, 41);
}

.paras{
    opacity: 90%;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: large;
    line-height: 2.5rem;
    font-style: normal;
}